@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #D5D5D5;
}

::-webkit-scrollbar-track {
  background-color: #D5D5D5;
}

.custom-button {
  @apply border rounded-[8px] px-[18px] py-[10px] font-semibold;
}

.btn-default {
  @apply hover:bg-lightGray
}

.btn-primary {
  @apply hover:bg-lightPrimaryBlue
}